<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleMarketPlaceClient</display-name>
  <welcome-file-list>
    <welcome-file>/View/signin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signin</display-name>
    <servlet-name>signin</servlet-name>
    <servlet-class>Servlets.signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>products</display-name>
    <servlet-name>products</servlet-name>
    <servlet-class>Servlets.products</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signout</display-name>
    <servlet-name>signout</servlet-name>
    <servlet-class>Servlets.signout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>Servlets.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtocart</display-name>
    <servlet-name>addtocart</servlet-name>
    <servlet-class>Servlets.addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocart</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showcart</display-name>
    <servlet-name>showcart</servlet-name>
    <servlet-class>Servlets.showcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showcart</servlet-name>
    <url-pattern>/showcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletefromcart</display-name>
    <servlet-name>deletefromcart</servlet-name>
    <servlet-class>Servlets.deletefromcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletefromcart</servlet-name>
    <url-pattern>/deletefromcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validatecardinfo</display-name>
    <servlet-name>validatecardinfo</servlet-name>
    <servlet-class>Servlets.validatecardinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validatecardinfo</servlet-name>
    <url-pattern>/validatecardinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkout</display-name>
    <servlet-name>checkout</servlet-name>
    <servlet-class>Servlets.checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>categories</display-name>
    <servlet-name>categories</servlet-name>
    <servlet-class>Servlets.categories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categories</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sellingportal</display-name>
    <servlet-name>sellingportal</servlet-name>
    <servlet-class>Servlets.sellingportal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellingportal</servlet-name>
    <url-pattern>/sellingportal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addproduct</display-name>
    <servlet-name>addproduct</servlet-name>
    <servlet-class>Servlets.addproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addproduct</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcategory</display-name>
    <servlet-name>addcategory</servlet-name>
    <servlet-class>Servlets.addcategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcategory</servlet-name>
    <url-pattern>/addcategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showpastactivities</display-name>
    <servlet-name>showpastactivities</servlet-name>
    <servlet-class>Servlets.showpastactivities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showpastactivities</servlet-name>
    <url-pattern>/showpastactivities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>n</display-name>
    <servlet-name>n</servlet-name>
    <servlet-class>Servlets.n</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>n</servlet-name>
    <url-pattern>/n</url-pattern>
  </servlet-mapping>
</web-app>